// Deals
section.deals
  .wrapper
    h2.deals__title Вас можуть зацікавити
    ul.deals__list
      +deals('Волонтерство вихідного дня', 'deal1.jpg')
      +deals('Чапік шукає даму серця', 'deal2.jpg')
      +deals('Нам потрібен старий посуд та підстилки', 'deal3.jpg')
      +deals('Я Інжир і мені потрібен дім на тиждень', 'deal4.jpg')
      +deals('Ми вже два місяці як готові дарувати Вам щастя', 'deal5.jpg')
      +deals('Шукаємо сторожа в притулок', 'deal6.jpg')
// End Deals