// Slider section
section.banner
  .banner__slider
    //- Custom CSS Only slider
    .slider
      input#slide11(type='radio', name='slider1', checked)
      input#slide12(type='radio', name='slider1')
      input#slide13(type='radio', name='slider1')
      .slider__slides
        .slider__overflow
          .slider__inner.clearfix
            .slider__item
              .banner__bg.banner__bg--1
                .wrapper
                  .banner__slide.banner__slide--1
                    .banner__cloud.banner__cloud--small ...що, що? кажеш друг тобі потрібен? #[br] так я ж
                      span.banner__logo-min поряд
                    .banner__animation.banner__animation--1
                    h3.banner__descr Притулки для тварин
                    a.banner__scroll(href="#positions")
                      i.svg-shevron-down Далі
            .slider__item
              .banner__bg.banner__bg--2
                .wrapper
                  .banner__slide.banner__slide--2
                    .banner__cloud.banner__cloud--big раніше було краще? все було дешево? #[br] ні, не чув, #[br] бо в мене все добре! #[br]
                      span.banner__logo-min поряд
                      | підтримка
                    .banner__animation.banner__animation--2
                    h3.banner__descr Літні люди
                    a.banner__scroll(href="#positions")
                      i.svg-shevron-down Далі
            .slider__item
              .banner__bg.banner__bg--3
                .wrapper
                  .banner__slide.banner__slide--3
                    .banner__cloud.banner__cloud--small ...що, що? кажеш друг тобі потрібен? #[br] так я ж
                      span.banner__logo-min поряд
                    .banner__animation.banner__animation--3
                    h3.banner__descr Притулки для тварин
                    a.banner__scroll(href="#positions")
                      i.svg-shevron-down Далі
      .slider__controls
        label(for='slide11')
        label(for='slide12')
        label(for='slide13')
    //- End Slider
// End Slider section